@{
    ViewData["Title"] = "Mis Solicitudes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Mis Solicitudes</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>QR</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <!-- Aquí luego renderizas desde BD -->
    </tbody>
</table>
