@{
    ViewData["Title"] = "Lectura QR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="qr-wrapper">

    <!-- CONTENEDOR QUE Html5Qrcode USA -->
    <div id="reader"></div>

    <!-- OVERLAY -->
    <div class="scanner-overlay">
        <div class="scanner-frame">
            <div class="scan-line"></div>
        </div>
    </div>

    <!-- ALERTA -->
    <div id="alertOk" class="scan-alert d-none">
        QR detectado ✔
    </div>

</div>

@section Scripts {
    <script src="https://unpkg.com/html5-qrcode"></script>
    <script src="~/js/qr-lector.js"></script>
}
