@{
    ViewData["Title"] = "Lectura QR";
    Layout = "~/Views/Shared/_LayoutQRLectura.cshtml";
}

@section Styles {
    <link href="~/css/qr-lectura.css" rel="stylesheet" />
}

<div class="qr-fullscreen">

    <div id="reader"></div>

    <div class="scanner-overlay">
        <div class="scanner-frame"></div>
    </div>

    <!-- MENSAJE DINAMICO -->
    <div id="alertOk" class="scan-alert d-none"></div>

</div>

@section Scripts {
    <script src="https://unpkg.com/html5-qrcode"></script>
    <script src="~/js/qr-lector.js"></script>
    <script src="~/js/qr-admin.js"></script>
    <script src="~/js/qr-efectos.js"></script>
}